<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>刘祚先的个人博客-首页</title>
    <!-- 引入Vue(开发版) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/iview.css">
    <link rel="stylesheet" href="./css/externalPages.css">
    <!-- 引入组件库 -->
    <script src="./js/iview.min.js"></script>
    <!-- 引入JQuery -->
    <script src="./js/jquery-3.6.0.js"></script>
</head>
<body onload="intercept()" onresize="dynamicChangeHeight()">
    <div class="index">
    <div class="DisplayArea">
        <div class="header">
            <p id="headertext">刘祚先的个人博客</p>
            <div id="Pmd"></div>
            <div id="clockDate"></div>
        </div>
        <div class="topMenuBar">
            <div class="navigationMenu">
            <div class="menuItem"><a href="./">首页</a></div>
            <div class="menuItem"><a href="?pageId=1&cl=0">关于我</a></div>
            <div class="menuItem"><a href="?pageId=2&cl=0">分站</a></div>
            <div class="menuItem"><a href="?pageId=blogroll&cl=0">友情链接</a></div>
            <div class="menuItem"><a href="?pageId=gallery&cl=0">相册</a></div>
            <div class="menuItem"><a href="?pageId=musicPlayer&cl=0">音乐</a></div>
            <div class="menuItem"><a href="?pageId=weather&cl=0">气象信息</a></div>
            <!-- 下拉栏 CSS方式,正常 -->
            <div class="menuItem">
                <div class="dropDown">
                    <a id="toggleShow">本站技术解析</a><img id="downArrow" src="./img/downArrow.svg" height="20px" width="20px" alt="">
                    <ul class="dropDownContent">
                        <li id="dropDownContent"><a href="?pageId=3&cl=0">HTML部分</a></li>
                        <li id="dropDownContent"><a href="?pageId=4&cl=0">CSS部分</a></li>
                        <li id="dropDownContent"><a href="?pageId=5&cl=0">JS部分</a></li>
                        <li id="dropDownContent"><a href="?pageId=6&cl=0">网站结构</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
        <div class="sidebar" id="sidebarh">
            <div class="authorAvatar"><img id="avatar" src="./img/avater.jpg" alt="头像" height="100px" width="100px"></div>
            <div class="basicInfo">
                <!-- <p>站长基本信息：</p> -->
                <p id="authorIntro">本站编写者:</p><br>
                <p>NCUT大一学生,计算机专业</p><br>
                <p>更多信息请点击 <a href="?pageId=1&cl=0" style="color: #333 !important;">关于我</a> 页面</p>
            </div>
        </div>
        <!-- 此处内容区为Vue渲染，内容详见index.js -->
        <div v-if="listShow" class="contentList" id="contenth">
                <div v-for="post in posts":key="post.id" class="postsRender">
                    <p class="postTitle"><a class="postAColor" :href="'?postId='+post.id" >{{post.title}}</a></p><br>
                    <p class="postBrief">{{post.briefcon}}</p><br>
                    <div class="continueReading"><a :href="'?postId='+post.id">继续阅读</a></div>
                </div>
        </div>
        <!-- 文章详情区 -->
        <div v-if="show" class="postContent" id="postArea" >
            <div class="postShowTitle">{{showTitle}}</div>
            <div class="contentDivider"></div>   
            <!-- 标题与内容分隔栏 -->
            <div class="postShowContent" v-html="showContent">{{showContent}}</div>
            <div class="returnLink"><a class="ReturnAColor" href="./">返回首页</a></div>
        </div>
        <!-- 预留的多页面显示区 -->
        <div v-if="show" class="pageContent" id="pageDisplay">
            <div class="title">404未找到</div>
            <div class="contentDivider"></div>
            <div class="content">很抱歉，您所请求的页面不存在，请您检查请求的内容。</div>
        </div>
        <div class="footer">
            <p id="footercontent">©️刘祚先的个人博客 版权所有 <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"> 
                <img class="img" style="border: 0;" src="./img/beian.png" alt>京ICP备2020032291号-1
            </a></p>
        </div>
    </div>
</div>
</body>

<!-- 引入首页js -->
<script src="./js/index.js"></script>
<script src="./js/externalPages.js" defer="true"></script>
<script src="./js/detect.js"></script>
<script>setInterval(clock,1000);</script>
<script>setInterval(Scroll,300)</script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    const options = {
        bottom: '32px', // default: '32px'
        right: '32px', // default: '32px'
        left: 'unset', // default: 'unset'
        time: '0.3s', // default: '0.3s'
        mixColor: '#fff', // default: '#fff'
        backgroundColor: '#fff',  // default: '#fff'
        buttonColorDark: '#100f2c',  // default: '#100f2c'
        buttonColorLight: '#fff', // default: '#fff'
        saveInCookies: true, // default: true,
        label: '🌓', // default: ''
        autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    darkmode.showWidget();
</script>
</html>